<div class="col s12 m8 l4">
  <div class="card eachArticle">
    <div class="card-image">
      <img src="{{this.urlToImage}}">
      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
    <div class="card-content">
      <h5>{{this.title}}</h5>
      <a href="#readmore-modal{{@index}}" class="waves-effect black btn-small modal-trigger">Read more</a>
    </div>
  </div>
  <div id="readmore-modal{{@index}}" class="modal newsmodals" tabindex="0">
    {{> readmorePartial}}
  </div>
</div>