<div class="modal-content">
  <h1 class="center-align">Sign up</h1>
  <form action="/signup" method="POST">
    <label>Username</label>
    <input name="username" type="text">

    <label>Password</label>
    <input name="password" type="text">

    <label>E-mail</label>
    <input name="email" type="email">

    <label>Full Name</label>
    <input name="name" type="text">
    <br><br>
    <h5>Or Sign up with LinkedIn</h5>
    <div class="linkedin-margin">
      <div class="linkedin">
        <i class="fab fa-linkedin"></i><a href="/auth/linkedin"> LinkedIn</a>
      </div>
    </div>
    <button class="waves-effect waves-green btn-flat">Sign up</button>
  </form>
</div>