<section>
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h3>Confirm email address</h3>
      </div>
    </div>

    <div class="row">
      <form class="col s12" action="/password/confirm-email" method="POST">

        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" name="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>

        <button class="btn">Submit</button>
      </form>
    </div>
  </div>
</section>