<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Germania+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    <div class="nav-container">
      <div class="row nav-row">
        <div class="col s11 m4 l3 valign-wrapper">
          <a href="/"><img class="logo" src="/images/logo.png"></a>
        </div>

        <div class="col s9 m8 l9 hide-on-small-only">
          <ul id="nav-options">
            <li class="topic"><a href="/trending">Trending</a></li>
            <li class="topic"><a href="/tech">Tech</a></li>
            <li class="topic"><a href="/sports">Sports</a></li>
            <li class="topic"><a href="/music">Music</a></li>
            <li class="topic"><a href="/health">Health</a></li>
            <li><a class='dropdown-trigger' href='' data-target='dropdown1'><i id="profile-icon"
                  class="material-icons">person</i></a></li>
            <ul id='dropdown1' class='dropdown-content'>
              {{#if user}}
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Log out</a></li>   
              {{else}}
              <li><a class="modal-trigger" href="#signup-modal">Sign up</a></li>
              <li><a class="modal-trigger" href="#login-modal">Log in</a></li>
              {{/if}}
            </ul>
            <li><input id="search-bar" type="text" name="search" placeholder="Search.."></li>
          </ul>
        </div>
        <div class="show-on-small s1">
          <span>user</span>
        </div>
      </div>
    </div>
  </nav>

  {{{body}}}
  <div id="login-modal" class="modal">
        {{> loginPartial}}
      </div>
      <div id="signup-modal" class="modal">
        {{> signupPartial}}
      </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>