<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Germania+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<nav>
  <div class="nav-container">
    <div class="row nav-row">
      <div class="col s11 m4 l3 valign-wrapper">
        <a href="/"><img class="logo" src="/images/logo.png" ></a>
      </div>

      <div class="col s9 m8 l9 hide-on-small-only">
        <ul id="nav-options">
          <li>Trending</li>
          <li>Tech</li>
          <li>Sports</li>
          <li>Music</li>
          <li>Health</li>
        </ul>
      </div>
      <div class="show-on-small s1">
        <span>user</span>
      </div>
    </div>
  </div>
</nav>
        
  {{{body}}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>