<section class="profile-top valign-wrapper center-align">
  <img src="{{user.img}}" alt="user-image" class="responsive-img circle userImage">
  <div>
    <h2>What Matters to {{user.username}}</h2>
  </div>
</section>
<section class="profile-divider"></section>
<section class="profile-user-info">
  <div class="container profile-container">
    <div class="row">
      <div class="col m2 l3 profile-sides hide-on-small-only">
        <h1>Random stuff</h1>
        <p>
          enwvjktnwgoibt9nej4tnjktdnwkfnbinetkbunejwbnfjklbenwfjkebtunfjebt4enjwfkbn4iewint4unwebjn2wejnwuienwbfjnjfknaknjwebnenwjbtkk4nbejnfnvwjnetjinebnt
        </p>
      </div>
      <div class="col s12 m8 l6">
        <h1>Random stuff</h1>
        <p>
          enwvjktnwgoibt9nej4tnjktdnwkfnbinetkbunejwbnfjklbenwfjkebtunfjebt4enjwfkbn4iewint4unwebjn2wejnwuienwbfjnjfknaknjwebnenwjbtkk4nbejnfnvwjnetjinebnt
        </p>
      </div>
      <div class="col m2 l3 profile-sides hide-on-small-only">
        <h1>Random stuff</h1>
        <p>
          enwvjktnwgoibt9nej4tnjktdnwkfnbinetkbunejwbnfjklbenwfjkebtunfjebt4enjwfkbn4iewint4unwebjn2wejnwuienwbfjnjfknaknjwebnenwjbtkk4nbejnfnvwjnetjinebnt
        </p>
      </div>
    </div>
  </div>
</section>