body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*{
  margin: 0;
  padding: 0;
}

section#profile-view {
  background-color: #e6ecf0;
  padding-top: 50px;
}

div.nav-container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

div.nav-row {
  height: 100%;
}

nav {
  background-color: black;
  overflow: hidden;
}

img.logo {
  width: 150px;
  margin-top: 7px;
}
#heading{
  padding-top: 10px;
}

#heading > .container {
  position: relative;
}

div.text-row {
  position: absolute;
  width: 100%;
}

#header-logo{
  width: 100%;
}
#newsify-text{
  padding-top: 20px;
  font-family: 'Germania One', cursive;
  width: 100%;
  color: #0079C6;
  font-size: 14vw;
}
#profile-icon{
  color: white;
}

a {
  color: #00B7FF;
}
#searchbar{
  background-color: black;
  color: white;
}
#about-section{
  background-color: #0079C6;
  padding-top: 5%;

}
.about-title{
  display: inline;
  color: white;
  font-size: 80px;
}
#newsify-about-section{
  display: inline;
  font-family: 'Germania One', cursive;
  color: black;
}
#emphasis{
  color: black;
}
.about-tagline{
  color: white;
  font-size: 40px;
}
// .nav-wrapper{
//   background-color: black;
//   color: white;
// }
.nav-wrapper li:hover {
  background-color: #bdbdbd;
}
#about-paragraph{
  color: white;

}
.dropdown-content{
  left: 85% !important;
  top: 64px !important;
}
.dropdown-content > li > a{
color: black;
}

#nav-options{
  display: flex;
  justify-content: space-between;
}
#nav-options > li:hover{
  background-color: #bdbdbd;
}
.linkedin{
  background-color: #0079C6;
  display: inline;
  padding: 10px 20px;
}
.linkedin *{
  text-decoration: none;
  font-size: 15px;
  color: white;
}
.linkedin-margin{
  margin-top: 30px;
}
#signup-modal{
  max-height: 800px !important;
  top: 5% !important;
}
.button{
  display: flex;
  justify-content: center;
}
.eachArticle{
  height: 500px !important;
  overflow-y: auto;
}

.newsmodals{
  height: 900px !important;
  top: 5% !important;
}
.profile-top{
  background-color: #0079C6;
  height: 300px;
}
.userImage{
  border: 2.5px solid black;
  width: 15% !important;
  position: absolute;
  left: 5%;
  top: 45%;
}
.profile-sides{
  background-color: #0079C6;
}
.profile-container{
    width: 100% !important;
    max-width:initial !important;
    > .row{
        margin: 0 !important;
        > .col{
            padding: 0 !important;
        }
    }

}
.profile-container *{
  overflow-wrap: break-word;
}
.profile-top-row{
  margin-bottom: 0 !important;
}
.profile-user-info{
  background-color: #bdbdbd
}
.profile-divider{
  height: 50px;
  background-color: white;
}
.description{
  font-size: 20px;
}
.link-article{
  margin-top: 10%;
  padding-bottom: 10px;
}
.reader-options{
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
}
.bottom-container{
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
}
.default-image{
  height: 50%;
  width: 50% !important;
  align-self: center;
  margin-left: 25% !important;
}
.bookmark-icon{
  color: black !important;
}